<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><%= title %></h1><br>
            <form class="form" method="POST">
                    <% for(let count = 0; count < QuestionList.length; count++) { %>             
                            <div class="form-group text-center">
                                <label for="questionTextField"><%= count+1 %>. <%= QuestionList[count].question1 %></label>
                                <textarea class="form-control" id="questionTextField" name="answer" rows="4" required></textarea>                      
                            </div>     
                    <% } %>  
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> Submit
                    </button>
    
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel
                    </a>                                    
            </form>
        </div>
    </div>
</main>


<%- include ('../partials/bottom_nav.ejs') %>  

<%- include ('../partials/footer.ejs')  %>