<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <a href="/survey-list/add-mcq/<%=surveyId%>" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Question
            </a>
            <br />
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-6">Question</th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                    <th class="text-center col-2"></th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < QuestionList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-6"><%= QuestionList[count].question1 %></td>
                        <td class="text-center col-2">
                            <a href="/survey-list/add-options/<%= QuestionList[count]._id %>" class="btn btn-secondary">
                                 Add Options</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/survey-list/edit-mcq/<%= QuestionList[count]._id %>" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/survey-list/delete-mcq/<%= QuestionList[count]._id %>/<%= QuestionList[count].surveyId %>" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>

            </table>
        </div>
    </div>
</main>



<%- include ('../partials/bottom_nav.ejs') %>  

<%- include ('../partials/footer.ejs')  %>