<%- include ('../partials/header.ejs') %>

<%- include ('../partials/main_nav.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-12">
            <h1><%= title %></h1>        
            <!--insert auth-->
            <a href="/survey-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i>Add Survey</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                        <th class="text-center col-2">Survey Title</th>
                        <th class="text-center col-2">Survey Author</th>
                        <th class="text-center col-1">Survey Type</th>
                        <th class="text-center col-1">Active Date</th>
                        <th class="text-center col-1">Expiry Date</th>
                        <th class="text-center col-1">Number of Response</th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                </tr>
                <% for(let count =0; count<SurveyList.length;count++){%>
                    <tr>
                            <td class="text-center col-2"><%= SurveyList[count].title %></td>
                            <td class="text-center col-2"><%= SurveyList[count].author %></td>
                            <td class="text-center col-"><%= SurveyList[count].type %></td>
                            <td class="text-center col-"><%= SurveyList[count].activeDate %></td>
                            <td class="text-center col-"><%= SurveyList[count].expiryDate %></td>
                            <td class="text-center col-1"><%= SurveyList[count].responses %></td>
                            <!--
                            <td class="text-center col-2"><a href="/survey-list/questions/<%= SurveyList[count]._id %>" class="btn btn-secondary">
                            -->
                            <% if (SurveyList[count].type == 'SAQ') { %>
                                <td class="text-center col-2">
                                    <a href="/survey-list/questions/<%= SurveyList[count]._id %>" class="btn btn-secondary">
                                        Add Question</a>
                                </td>
                            <% } else { %>
                                <td class="text-center col-2">
                                    <a href="/survey-list/questions-mcq/<%= SurveyList[count]._id %>" class="btn btn-secondary">
                                        Add Question</a>
                                </td>
                            <% } %>
                            <td class="text-center col-1">
                                <a href="/survey-list/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Update</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/survey-list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td> 
                            
                    </tr>
                <%}%>
            </table>
        </div>
    </div>
</main>

<%- include ('../partials/bottom_nav.ejs') %>  

<%- include ('../partials/footer.ejs')  %>